body {
	display: flex;
	justify-content: center;
	/* background-image: url(./images/tic-tac-toe.jpg);
	background-repeat: no-repeat;
	background-size: cover; */
}

.game-container {
	width: 20rem;
}

.game-board {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.game-square {
	border: 2px solid white;
	flex: 1 1 5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
	background-color: rgb(137, 137, 185);
}

.game-square:hover {
	background-color: aliceblue;
	cursor: pointer;
}

.game-square.clicked {
	opacity: 0.5;
}
