body {
	display: flex;
	justify-content: center;
}

.game-container {
	width: 20rem;
}

.game-board {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.game-square {
	border: 2px solid white;
	flex: 1 1 5rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
	background-color: rgb(137, 137, 185);
}

.game-square:hover {
	background-color: aliceblue;
	cursor: pointer;
}

.game-square.clicked {
	opacity: 0.5;
}

.reset-button {
	padding: 0.5rem;
	border-radius: 5px;
	background-color: rgb(9, 117, 9);
	border: 2px solid white;
	color: white;
	display: none;
}
